<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width,height=device-height,user-scalable=no,initial-scale=1">
    <link rel="stylesheet" href="index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
</head>
<body>
<div id="app">
    <div class="header">

    </div>
    <div class="container">
        <div class="catagory">
            <ul>
                <li v-for="cata in catagorys">{{cata.name}}</li>
            </ul>
        </div>
        <div class="item">
            <ul>
                <li v-for="item in items">{{item.name}}</li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    <div class="space"></div>
    <div class="casher">

    </div>
</div>

<script>
    app = new Vue({
        el: "#app",
        data: {
            catagorys: [{
                "name": "热销"
            }, {
                "name": "优惠"
            }, {
                "name": "套餐"
            }],
            items: [{
                "name": "肉酱面"
            }, {
                "name": "培根面"
            }, {
                "name": "香辣培根面"
            }, {
                "name": "海鲜意面"
            }]
        }
    })
</script>
</body>
</html>