<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width,height=device-height,user-scalable=no,initial-scale=1">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="index.css">
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.9.1.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="http://mockjs.com/dist/mock.js"></script>

</head>
<body>
<div id="app">
    <div class="header">
        <img class="background" v-bind:src="shop.backgroundImg">
        <img class="avator" v-bind:src="shop.avator">
        <h2>{{shop.name}}</h2>
        <div class="split-line"></div>
    </div>
    <div class="container">
        <div class="catagory">
            <ul>
                <li v-for="cata in content" v-bind:class="{catagoryActive: cata.active}"
                    v-on:click="active">
                    <!--<img src="">-->
                    <div>
                        {{cata.cataName}}
                    </div>
                </li>
            </ul>
        </div>
        <div class="item">
            <div v-for="cata in content">
                <div class="item-title" v-bind:id="cata.cataName">{{cata.cataName}}</div>
                <ul>
                    <li v-for="item in cata.items" :id="item.id">
                        <img v-bind:src="item.img">
                        <div class="item-detail">
                            <div class="item-name">
                                {{item.name}}
                            </div>
                            <div v-if="item.describe" class="item-describe">
                                {{item.describe}}
                            </div>
                            <div class="item-sale">
                                月售{{item.sale}}
                                好评率{{item.rate}}
                            </div>
                            <div class="item-price">
                                ￥{{item.price}}
                            </div>
                            <div class="button">
                                <div @click="removeFromCart" v-if="isInCart(item.name)"
                                     class="button-add glyphicon glyphicon-minus-sign"
                                     aria-hidden="true"></div>
                                <span v-if="isInCart(item.name)">{{selectedAmount(item.name)}}</span>
                                <div @click="addToCart" v-if="!item.options"
                                     class="button-add glyphicon glyphicon-plus-sign"
                                     aria-hidden="true"></div>
                                <div @click="addToCartWithOption" v-if="item.options"
                                     class="button-add glyphicon glyphicon-plus-sign"
                                     aria-hidden="true"></div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="space"></div>
    <div class="casher">
        <div v-if="cart.length==0" class="cart">
            <div>未选购商品</div>
        </div>
        <div v-else class="cart">
            <div>{{totalPrice}}</div>
        </div>
        <div v-if="totalPrice<shop.minCost" class="check">
            <div>￥{{shop.minCost}}元起送</div>
        </div>
        <div v-else class="check">
            <div>结账</div>
        </div>
    </div>
</div>

<script>
    let content = [];
    let count = 0;
    for (let i = 0; i < 20; i++) {
        let items = [];
        for (let i = 0; i < 13; i++) {
            items.push(Mock.mock({
                id: count,
                name: "@cword(2,8)",
                img: "./assets/shop.png",
                sale: 33,
                rate: "99%",
                describe: "",
                price: 18.8
            }));
            count++;
        }
        content.push({cataName: Mock.mock("@cword(2,4)"), items: items, active: false});
    }
    let app = new Vue({
        el: "#app",
        data: {
            content: content,
            cart: [],
            shop: {
                name: "LeoB_O's Shop",
                avator: "./assets/shop.png",
                backgroundImg: "./assets/background.png",
                minCost: 10
            }
        },
        methods: {
            active: function (event) {
                let cataName = event.target.innerHTML.trim();
                if (event.target.children[0]) {
                    cataName = event.target.children[0].innerHTML.trim();
                }
                for (let cata of this.content) {
                    cata.active = false;
                }
                for (let cata of this.content) {
                    if (cataName == cata.cataName) {
                        cata.active = true;
                    }
                }
                console.log(cataName);
                let cPos = $("#" + cataName).position();
                console.log(cPos.top);
                $(".item").scrollTop(0);
                $(".item").scrollTop(cPos.top);
            },
            isInCart: function (itemName) {
                for (let item of this.cart) {
                    if (item.name == itemName)
                        return true;
                }
                return false;
            },
            addToCart: function (event) {
                let temp = {};
                let flag = false;
                let itemName = event.target.parentNode.parentNode.parentNode.id;
                itemName = parseInt(itemName);
                for (let cata of this.content) {
                    for (let item of cata.items) {
                        if (item.id == itemName) {
                            temp.id = item.id;
                            itemName = item.name;
                            temp.name = item.name;
                            temp.price = item.price;
                            temp.amount = 1;
                            break;
                        }
                    }
                }
                for (let item of this.cart) {
                    if (item.name == itemName) {
                        item.amount++;
                        flag = true;
                        break;
                    }
                }
                if (!flag) {
                    this.cart.push(temp);
                }
            },
            addToCartWithOption: function (event) {
                let itemName = event.target.parentNode.parentNode.parentNode.id;
                // console.log(itemName);
            },
            removeFromCart: function (event) {
                let itemName = event.target.parentNode.parentNode.parentNode.id;
                itemName = parseInt(itemName);
                for (let cata of this.content) {
                    for (let item of cata.items) {
                        if (item.id == itemName) {
                            itemName = item.name;
                            break;
                        }
                    }
                }
                for (let index in this.cart) {
                    if (this.cart[index].name == itemName) {
                        if(this.cart[index].amount==1)
                            this.cart.splice(index, 1);
                        else
                            this.cart[index].amount--;
                        break;
                    }
                }
            },
            selectedAmount: function (itemName) {
                for (let item of this.cart) {
                    if (item.name == itemName)
                        return item.amount
                }
                return 0;
            }
        },
        computed: {
            totalPrice: function () {
                let total = 0;
                for (let item of this.cart) {
                    total += item.price * item.amount;
                }
                return total.toFixed(2);
            }
        }

    });
    $(window).scroll(function () {
        let header_height = $(".header").height();
        let scroll_height = $(window).scrollTop();
        $(".catagory").css("top", header_height - scroll_height);
    })
</script>
</body>
</html>